*

!_theme-styles
!_theme-styles/**/*

!1 - Fancy Buttons/**/*
!2 - Sexy Typography/**/*
!3 - Clipping Images/**/*
!4 - Sexy Registration Form/**/*
!5 - Useful Broken Images/**/*
!6 - Print Styles/**/*
!7 - Image Manipulation/**/*
!8 - 8-bit Mario/**/*
!9 - Modern Layouts/**/*
!10 - Pricing Table/**/*
!12 - CSS Variables/**/*
!13 - Sticky Footer/**/*

**/*/_README_FreeCodeCollegeTrial.pdf
**/*/final.css
**/*/final.html

13 - Sticky Footer/**/index.html

!/*