/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.image {
    position: relative;
    display: inline-block;
    font-family: Arial, sans serif;
    font-size: 0.7em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 40px;
    min-width: 350px;
    min-height: 50px;
}

.image:after {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 200px;
    padding: 10px 20px 10px 45px;
    border: 1px dashed #888888;
    background-color: #f0f0f0;
    background-image: url(noimage.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 15px 12px;
    z-index: 1;
    content: "" attr(alt) "Not found";
}